:root{
  --size : 2rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
}

main{
}

.wrapper{
  min-height: 100vh;
 display: flex;
 align-items: center;

}
.cor{
  width: var(--size);
  height: var(--size);
  border: 1px solid;
  position: relative;
}

.board-wrapper{
  display: flex;
  gap: 1rem;
  /* width: 80%; */
  justify-content: center;
  /* margin-block: auto; */
  margin-inline: auto;
  position: relative;
  border: 1px;
}
.board-one,.board-two,.player__settings{
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--size) * 10 + 2px) ;
  border: 1px solid black;
}

.player__settings{
  width: calc(var(--size) * 10 + 4px) ;
  
  /* border: none; */
}
.ship-holder .cor{
  border: none;
  border-bottom: 1px solid;
  position: relative;

  

}
.ship-layer{
  width: calc(var(--size) * 6 + 4px) ;

  /* margin-top: auto; */
}
.ship-holder .cor:not(:has(.ship)){
  background-color: lightblue;
}
.board-one,.board-two{
  max-width: fit-content;

}
.ship,.ship-hit,.missed{
  width:100%;
  height:100%;
  position: relative;
  z-index: -1;
}

.ship-holder .cor .ship{
  position: relative;
  z-index: 100;
}
.ship{
  background-color: green;
  position: absolute;
}
.ship-hit{
  background-color: red;
  
}
.missed{
  background-color: lightblue;
}

.hide{
  display: none;
}

.ship-holder{
  /* margin-block: auto; */
  width: 100%;
  height: 100%;
  padding: 1rem ;
  display: grid;
  /* flex-direction: column; */
  gap: .25rem;
  /* display: flex; */
  border: 1px solid;
  
}
.ship-layer{
  display: flex;
  gap: .1rem;
  position: relative;
  z-index: 10;
  margin-bottom: 1rem;
  cursor: grabbing;
 

}
.dock-ship{
 
 width: var(--size);
 height: var(--size);
 background-color: green;
 position: relative;
 z-index: -1;
}

.beingDragged{
  /* opacity: 0; */
}

.over{
  border: 2px solid blue;
}


.hide{
  display: none;
}