:root {
  --size: 2.5rem;
  --shadow-md: rgba(0, 0, 0, 0.1);
  --ship-clr: #2f4f4f;
  --box-clr: #4682b4;

  /* font sizes */
  --h1: bold 1.5rem/1.4em;
  --h2: bold 1rem/1.4em;
  --p: 1rem/1.4em;
  --p2: .875rem/1.4em;



  /* colors */
  /* text */
  --white-70: hsla(119, 0%, 70%, 1);
  --white-100: hsla(119, 0%, 100%, 1);

  --green-30: hsla(119, 98%, 30%, 1);
  --green-70: hsla(119, 98%, 70%, 1);
  --green-90: hsla(119, 98%, 90%, 1);

  --blue-20: hsla(245, 82%, 20%, 1);
  --blue-40: hsla(245, 82%, 40%, 1);

  /* hsl(242 100% 60%) */

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.6;
  /* color: grey; */
}


main {
  height: 100%;
  min-height: 100vh;
}



p {
  max-width: 45ch;
}

img {
  display: block;
  max-width: 100%;
}


button {
  font-size: .8rem;
  padding: .7rem 2rem;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-weight: 600;

}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 3rem;
  align-items: center;
  gap: 1rem;
  overflow-y: auto;
}

/* .wrapper > * {
  flex: 1;
} */


.board-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  /* min-width: 300px; */
  gap: 1rem;
  justify-content: center;
  margin-inline: auto;
  position: relative;
  /* flex: 1; */
  padding: 1rem;
  height: 70%;
  max-width: 1024px;

}

/* .board-container > * {
  max-width: 450px;
  max-height: 500px;
} */

.board__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  min-width: 300px;
  min-height: 350px;
  flex: 1;
  /* align-content: start; */

}

.cor {
  border: 1px dotted;
  border-radius: 2px;
  position: relative;
  /* border-radius: 4px; */
  background-color: var(--box-clr);
  color: lightblue;
  /* background-color: lightblue; */
}

.cor:hover {
  cursor: crosshair;
}

.board__player_settings {
  display: flex;
  border-radius: 1rem;
  flex: 1;
  border: 1px solid;
  padding: 2.5rem 0.3rem;
}



.ship,
.ship-hit,
.missed,
.dock-ship {
  width: 100%;
  height: 100%;
  position: relative;
  /* border-radius: 4px; */

  /* z-index: -1; */

}

.ship {
  background-color: green;
  position: absolute;
  /* z-index: 1; */

}





.ship-holder .cor .ship {
  position: relative;
  z-index: 100;
}


.missed {
  background-color: lightblue;
}

.hide {
  display: none;
}


.ship-holder,
.confirmation {
  padding: 1.5rem .3rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-content: start;
  /* border: 1px solid; */
  width: 100%;
  /* max-height: 100%; */

}

.ship-holder {
  /* transform: rotate(90deg); */

}

.confirmation {
  padding: 1.5rem;
  box-shadow: 0px 4px 16px var(--shadow-md);
  gap: 3rem;
  border-radius: 14px;
}

.ship-layer {
  display: flex;
  gap: .1rem;
  position: relative;
  z-index: 10;
  cursor: grabbing;

}

.dock-ship {
  width: var(--size);
  height: var(--size);
  background-color: green;
  position: relative;
  z-index: -1;
  /* border:1px solid; */
}

.beingDragged {
  /* opacity: 0; */
}

.board__controls {
  display: flex;
  justify-content: space-between;
}


.board__controls,
.board__player-info {
  padding: .25rem 0;
  width: 100%;
  min-height: 2.5rem;
}

.board__player-info {
  /* border: 1px solid; */
  padding: .3rem;
  font-weight: 600;
}

/* buttons */


.board__button {}

.board__button--randomize {
  /* box-shadow: 10px 4px 160px var(--shadow-md); */
  background-color: darkblue;
}

button:hover {
  opacity: 0.7;
}

.board__button--reset {
  background-color: gray;
}

.over {
  border: 2px solid blue;
}


.hide {
  display: none;
}

.no-visibility {
  visibility: hidden;
}

/* form */
form {
  display: grid;
  border: 1px solid;
  padding: 2rem;
  align-content: start;
  gap: 2rem;
  width: 100%;
  background-color: darkblue;
  color: white;
  border-radius: inherit;

}

.form__radios {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

form label {
  font-size: 1rem;
}

form input[type="text"] {
  font-size: 1rem;
  padding: 1rem .875rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid white;

}

.form__button,
.confirmation button {
  /* justify-self: start; */
  /* margin-top: 1rem; */
  background-color: #00cc66;
  color: white;
  font-size: 1.25rem;
  /* border: 1px solid #00cc66;
  outline: 1px solid #00cc66; */
  text-transform: uppercase;
  font-weight: 600;
}

/* authorization */

.authorization {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  margin-inline: auto;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  background-color: navy;
  color: blue;
  /* color: white; */
  padding: 3.5rem;
  gap: 2rem;
  border-radius: 14px;
  z-index: 99;
  line-height: 1.5;
  max-width: 1024px;
  /* letter-spacing: 2px; */
}


.authorization__title {
  font-size: 2.5rem;
  /* text-decoration: underline; */
  text-transform: uppercase;
  text-align: center;
}

.authorization__body {
  font-size: 1.5rem;
  /* font-weight: 300; */
}

.body-text {
  margin-left: 3rem;
  margin-top: .5rem;
}

.authorization__btn {
  align-self: self-end;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  background-color: hsl(0, 100%, 51%);
  /* color:  hsl(0, 81%, 38%); */
  /* color: white; */
  font-weight: 600;
  margin-top: auto;
}

.authorization__secrets {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 1rem;
}

.secrets__img {
  width: 100px;
  transform: rotate(-40deg);
}


/* clrs */

.ship,
.dock-ship {
  background-color: green;
  background-color: var(--ship-clr);
  border-radius: 5px;
  /* position: absolute; */

}

.board__notifier {
  width: 100%;
  max-width: 1024px;
  /* box-shadow: var(--shadow-md); */
  border-radius: 8px;
  border: 1px solid;
}

/* analytics */
.analytics {

  width: 100%;
  padding: 1.5rem;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* visibility: hidden; */
}

.analytics__update {
  display: flex;
  justify-content: space-between;
}

.live-update {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.analytics__ships__info {
  flex: 1;

}

.analytics__texts {
  margin-bottom: 1rem;
}

.analytics__texts>span {
  font-size: 1.5rem;
  font-weight: 700;
}

.analytics__texts>p {
  font-size: .9rem;
  font-weight: 500;

}

.analytics__ships {
  display: flex;
  gap: .25rem;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

}

.analytics__ship {
  display: flex;
  gap: .1rem;
}

.analytics__ships__one,
.analytics__ships__two {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: .5rem;
  align-content: start;
  /* border: 1px solid; */
}

.analytics__ship .dock-ship {
  width: 1rem;
  height: 1rem;
  border-radius: 0;
}



.ship-hit {
  background-color: red;

}

.disabled {
  opacity: 0.5;
}

.board-pass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(163, 39, 39);
  background-color: red;
}

button {
  border: none;
  outline: none;
}